<div class="row">
  <div class="large-12 columns">
    <h1>Hello! I am an Angular JS + Ruby on Rails Application.</h1>
    <p>At this moment, I am useless.</p>
    <p>You must help me!</p>
  </div>
</div>
